@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: url(./joinwallpaper.avif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

body,
button {
	font-family: "Quicksand", sans-serif;
}

header {
	background-color: rgb(28, 27, 27);
	position: sticky;
	padding: 10px;
	top: 0;
	display: flex;
	align-items: center;
	height: 9.5vh;
	justify-content: center;
	z-index: 1;
	transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add smooth transitions for background color and box shadow */
}

.header.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	background-color: #555;
}

.nav-links {
	display: flex;
	list-style: none;
	gap: 5rem;
	align-items: center;
	justify-content: center;
}

li {
	text-decoration: none;
	font-weight: bolder;
}

li a {
	text-decoration: none;
	color: rgb(213, 207, 207);
	font-weight: 100;
}

.logo {
	height: 6em;
}

header,
.section1,
.section2 {
	width: 92%;
	margin: auto;
}

section {
	height: 90.5vh;
	width: 92%;
	margin: auto;
	display: flex;
}

.part1 {
	background-color: rgba(236, 221, 221, 0.308);
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.part1 p {
	width: 60%;
	margin-bottom: 50px;
	font-weight: 600;
}

.socials {
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.first2,
.second2 {
	display: flex;
	gap: 60px;
}

.part2 {
	background-color: rgba(236, 221, 221, 0.522);
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	font-size: 17px;
	font-weight: 600;
}

form input,
form textarea,
form select {
	font-size: 13px;
	padding: 8px;
	margin-bottom: 15px;
}

.sendbutton {
	font-size: 18px;
	padding: 10px 20px;
}

.resetbutton {
	font-size: 19px;
	padding: 10px 20px;
}
.socials img {
	height: 80px;
}

nav ul li.current a {
	color: #e70f0f;
}

@media only screen and (max-width: 992px) {
	.nav-links {
		display: flex;
		gap: 20px;
	}

	.part2 {
		padding: 20px;
	}

	.sendbutton,
	.resetbutton {
		margin-bottom: 50px;
	}
}
